// @import "~bootstrap/scss/functions";
// @import "./helpers/_variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/bootstrap";

body{
    padding: 0px 0px;
}

.logo-jw{
    background: url('assets/images/logo-jw.jpg');
    width: 90px;
    height: 90px;
    background-size: cover;
}

